.photo-item {
    overflow: hidden;
    position: relative;
    border-radius: var(--border-radius);

    img {
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius);
        transform: scale(1);
        transition: all ease 1s;
    }

    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,.8);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        padding: 1rem;
        opacity: 0;
        transition: all ease .6s;
        cursor: pointer;

        &__title {
            color: var(--white);
            text-align: center;
        }

        &__actions {
            margin: 1rem 0 0 0;
            display: flex;
            
            &__edit, &__delete {
                margin: 0 0.5rem;
            }
        }
    }

    .overlay:hover {
        opacity: 1;
    }
}

.photo-item:hover img {
    transform: scale(1.2);
}   